<div class='userEditPage'>
  <div class='header'>アカウント編集</div>
  <div class='container'>
    <%= form_for current_user, url: registration_path(current_user) do |f| %>
      <div class="form-group">
        <%= f.label '名前' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        性別:
        <%= f.label '男' %>
        <%= f.radio_button :sex, :男 %>
        <%= f.label '女' %>
        <%= f.radio_button :sex, :女 %>
      </div>
      <!-- 学歴追加 -->
      <div class="form-group">
        <%= f.label '学歴' %>
            <%= f.select(:educational_background, [["未回答"], ['高校卒業'],['専門学校卒業'],['大学卒業']],{}, {class:"form-control" ,id: "exampleFormControlSelect1"}) %>
      </div>
      <!-- 年収追加 -->
      <div class="form-group">
        <%= f.label '年収' %>
            <%= f.select(:income, [["公開しない"], ['200 ~ 300万円'],['300 ~ 500万円'],['500 ~ 1000万円'],['1,000万円以上']],{}, {class:"form-control" ,id: "exampleFormControlSelect1"}) %>
      </div>
      <!-- 自己紹介文 -->
      <div class="form-group">
        <%= f.label '自己紹介' %>
        <%= f.text_area :self_introduction, class: "form-control" %>
      </div>

      <div class="form-group">
        画像:
        <%= f.file_field :img_name %>
      </div>

      <div class="form-group">
        <%= f.label '更新するにはパスワードを入力してください' %>
        <%= f.password_field :current_password, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="text-center">
        <%= f.submit '更新', class: "btn submitBtn" %>
      </div>

    <% end %>
  </div>
</div>
